{% extends "layout.html" %}
{% load static %}

{% block head %}
    {{ block.super }} <!-- Include any styles or scripts from the parent -->
{% endblock %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block header %}
    {{ block.super }} <!-- Include any content from the parent -->
{% endblock %}

{% block body %}
    {{ block.super }} <!-- Include any content from the parent -->
    {% if post %}
    <section>
        <img class="banner" src="{{ post.banner.url }}" alt="{{ post.title }}"/>
        <h1>{{ post.title }}</h1> <!-- Insert your own HTML here -->
        <hr>
        <p>{{ post.body }}</p>
        <p>{{ post.date }}</p>
    {% endif %}
    </section>
{% endblock %}